.root,
.year-select,
.month-select,
.calendar-grid {
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.root {
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.calendar-grid .button {
    -fx-background-color: transparent;
}